@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

body {
	margin:0;
	font-family: 'Roboto', sans-serif;
	color: #333;
	/*background: url('../images/kirais-bg.jpg') #EEE;*/
}

.test{
	font-family: 'Roboto', sans-serif;
}